<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration debug="false" xmlns:log4j="http://jakarta.apache.org/log4j/">
	
	 <appender name="File" class="org.apache.log4j.FileAppender">
        <param name="File" value="DataBaseLog.log"/>
        <param name="Encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d [%-5p] - %m%n"/>
        </layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="INFO" />
			<param name="LevelMax" value="FATAL" />
		</filter>
    </appender>	
	
	<logger name="InfoLogger">
        <level value="INFO"/>
        	<appender-ref ref="File" />
    </logger>
	
	 <logger name="FatalLogger">
        <level value="FATAL"/>
        	<appender-ref ref="File" />
    </logger>

</log4j:configuration>